* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: grid;
	place-content: center;

	width: 100%;
	min-height: 100vh;

	background-color: #000;
}

.App {
	display: flex;
	align-items: center;
	flex-flow: column wrap;
	justify-content: center;
}

img {
	height: 300px;
	width: 400px;

	margin-bottom: 50px;

	border: 2px solid #fff;
}

p {
	color: #fff;
	font-size: 1.5rem;
	text-align: center;
	text-wrap: balance;

	max-width: 40ch;
}
